<!-- START: THE LOGO ANIMATION SECTION -->
<section class="first-section">
    <h1>Logo Showing <br/>Animation</h1>

    <div class="images-wrapper">
        <!-- START: FROM SCENE IMAGES -->
        <div class="ingredient-images">
            <li><img class="section_1_01" src="assets/images/img_1.png" /></li>
            <li><img class="section_1_02" src="assets/images/img_2.png" /></li>
            <li><img class="section_1_03" src="assets/images/img_3.png" /></li>
            <li><img class="section_1_04" src="assets/images/img_4.png" /></li>
            <li><img class="section_1_05" src="assets/images/img_5.png" /></li>
            <li><img class="section_1_06" src="assets/images/img_6.png" /></li>
            <li><img class="section_1_07" src="assets/images/img_7.png" /></li>
            <li><img class="section_1_08" src="assets/images/img_8.png" /></li>
        </div>
        <!-- END: FROM SCENE IMAGES -->

        <!-- START: AFTER SCENE IMAGES: AS LOGO -->
        <div class="blue-images">
            <li><img class="image_part_001" src="assets/images/image_part_001.jpg" /></li>
            <li><img class="image_part_002" src="assets/images/image_part_002.jpg" /></li>
            <li><img class="image_part_003" src="assets/images/image_part_003.jpg" /></li>
            <li><img class="image_part_004" src="assets/images/image_part_004.jpg" /></li>
            <li><img class="image_part_005" src="assets/images/image_part_005.jpg" /></li>
            <li><img class="image_part_006" src="assets/images/image_part_006.jpg" /></li>
            <li><img class="image_part_007" src="assets/images/image_part_007.jpg" /></li>
            <li><img class="image_part_008" src="assets/images/image_part_008.jpg" /></li>
        </div>
        <!-- END: AFTER SCENE IMAGES: AS LOGO -->
    </div>
</section>
<!-- END: THE LOGO ANIMATION SECTION -->

