<!-- START: THE LOGO ANIMATION SECTION -->
<section class="staffwellbeing-section">
    <h1>Logo Showing <br/>Animation</h1>

    <div class="staffwellbeing-images-wrapper">
        <!-- START: FROM SCENE IMAGES -->
        <div class="staffwellbeing-ingredient-images">
            <li><img class="staffwellbeing_section_1_01" src="assets/staffwellbeing/img_1.png" /></li>
            <li><img class="staffwellbeing_section_1_02" src="assets/staffwellbeing/img_2.png" /></li>
            <li><img class="staffwellbeing_section_1_03" src="assets/staffwellbeing/img_3.png" /></li>
            <li><img class="staffwellbeing_section_1_04" src="assets/staffwellbeing/img_4.png" /></li>
            <li><img class="staffwellbeing_section_1_05" src="assets/staffwellbeing/img_5.png" /></li>
            <li><img class="staffwellbeing_section_1_06" src="assets/staffwellbeing/img_6.png" /></li>
            <li><img class="staffwellbeing_section_1_07" src="assets/staffwellbeing/img_7.png" /></li>
            <li><img class="staffwellbeing_section_1_08" src="assets/staffwellbeing/img_8.png" /></li>
            <li><img class="staffwellbeing_section_1_09" src="assets/staffwellbeing/img_9.png" /></li>
            <li><img class="staffwellbeing_section_1_10" src="assets/staffwellbeing/img_10.png" /></li>
            <li><img class="staffwellbeing_section_1_11" src="assets/staffwellbeing/img_11.png" /></li>
            <li><img class="staffwellbeing_section_1_12" src="assets/staffwellbeing/img_12.png" /></li>
            <li><img class="staffwellbeing_section_1_13" src="assets/staffwellbeing/img_13.png" /></li>
            <li><img class="staffwellbeing_section_1_14" src="assets/staffwellbeing/img_14.png" /></li>
            <li><img class="staffwellbeing_section_1_15" src="assets/staffwellbeing/img_15.png" /></li>
            <li><img class="staffwellbeing_section_1_16" src="assets/staffwellbeing/img_16.png" /></li>
            <li><img class="staffwellbeing_section_1_17" src="assets/staffwellbeing/img_17.png" /></li>
            <li><img class="staffwellbeing_section_1_18" src="assets/staffwellbeing/img_18.png" /></li>
            <li><img class="staffwellbeing_section_1_19" src="assets/staffwellbeing/img_19.png" /></li>
            <li><img class="staffwellbeing_section_1_20" src="assets/staffwellbeing/img_20.png" /></li>
        </div>
        <!-- END: FROM SCENE IMAGES -->

        <!-- START: AFTER SCENE IMAGES: AS LOGO -->
        <div class="staffwellbeing-blue-images">
            <li><img class="staffwellbeing_image_part_001" src="assets/staffwellbeing/image_part_001.jpg" /></li>
            <li><img class="staffwellbeing_image_part_002" src="assets/staffwellbeing/image_part_002.jpg" /></li>
            <li><img class="staffwellbeing_image_part_003" src="assets/staffwellbeing/image_part_003.jpg" /></li>
            <li><img class="staffwellbeing_image_part_004" src="assets/staffwellbeing/image_part_004.jpg" /></li>
            <li><img class="staffwellbeing_image_part_005" src="assets/staffwellbeing/image_part_005.jpg" /></li>
            <li><img class="staffwellbeing_image_part_006" src="assets/staffwellbeing/image_part_006.jpg" /></li>
            <li><img class="staffwellbeing_image_part_007" src="assets/staffwellbeing/image_part_007.jpg" /></li>
            <li><img class="staffwellbeing_image_part_008" src="assets/staffwellbeing/image_part_008.jpg" /></li>
            <li><img class="staffwellbeing_image_part_009" src="assets/staffwellbeing/image_part_009.jpg" /></li>
            <li><img class="staffwellbeing_image_part_010" src="assets/staffwellbeing/image_part_010.jpg" /></li>
            <li><img class="staffwellbeing_image_part_011" src="assets/staffwellbeing/image_part_011.jpg" /></li>
            <li><img class="staffwellbeing_image_part_012" src="assets/staffwellbeing/image_part_012.jpg" /></li>
            <li><img class="staffwellbeing_image_part_013" src="assets/staffwellbeing/image_part_013.jpg" /></li>
            <li><img class="staffwellbeing_image_part_014" src="assets/staffwellbeing/image_part_014.jpg" /></li>
            <li><img class="staffwellbeing_image_part_015" src="assets/staffwellbeing/image_part_015.jpg" /></li>
            <li><img class="staffwellbeing_image_part_016" src="assets/staffwellbeing/image_part_016.jpg" /></li>
            <li><img class="staffwellbeing_image_part_017" src="assets/staffwellbeing/image_part_017.jpg" /></li>
            <li><img class="staffwellbeing_image_part_018" src="assets/staffwellbeing/image_part_018.jpg" /></li>
            <li><img class="staffwellbeing_image_part_019" src="assets/staffwellbeing/image_part_019.jpg" /></li>
            <li><img class="staffwellbeing_image_part_020" src="assets/staffwellbeing/image_part_020.jpg" /></li>
        </div>
        <!-- END: AFTER SCENE IMAGES: AS LOGO -->
    </div>
    <h1>Logo Showing <br/>Animation</h1>
    <h1>Logo Showing <br/>Animation</h1>

</section>
<!-- END: THE LOGO ANIMATION SECTION -->
