<!-- START: THE LOGO ANIMATION SECTION -->
<section class="studentwellbeing-section">
    <h1>Logo Showing <br/>Animation</h1>

    <div class="studentwellbeing-images-wrapper">
        <!-- START: FROM SCENE IMAGES -->
        <div class="studentwellbeing-ingredient-images">
            <li><img class="studentwellbeing_section_1_01" src="assets/studentwellbeing/img_1.png" /></li>
            <li><img class="studentwellbeing_section_1_02" src="assets/studentwellbeing/img_2.png" /></li>
            <li><img class="studentwellbeing_section_1_03" src="assets/studentwellbeing/img_3.png" /></li>
            <li><img class="studentwellbeing_section_1_04" src="assets/studentwellbeing/img_4.png" /></li>
            <li><img class="studentwellbeing_section_1_05" src="assets/studentwellbeing/img_5.png" /></li>
            <li><img class="studentwellbeing_section_1_06" src="assets/studentwellbeing/img_6.png" /></li>
            <li><img class="studentwellbeing_section_1_07" src="assets/studentwellbeing/img_7.png" /></li>
            <li><img class="studentwellbeing_section_1_08" src="assets/studentwellbeing/img_8.png" /></li>
            <li><img class="studentwellbeing_section_1_09" src="assets/studentwellbeing/img_9.png" /></li>
            <li><img class="studentwellbeing_section_1_10" src="assets/studentwellbeing/img_10.png" /></li>
            <li><img class="studentwellbeing_section_1_11" src="assets/studentwellbeing/img_11.png" /></li>
            <li><img class="studentwellbeing_section_1_12" src="assets/studentwellbeing/img_12.png" /></li>
        </div>
        <!-- END: FROM SCENE IMAGES -->

        <!-- START: AFTER SCENE IMAGES: AS LOGO -->
        <div class="studentwellbeing-blue-images">
            <li><img class="studentwellbeing_image_part_001" src="assets/studentwellbeing/image_part_001.jpg" /></li>
            <li><img class="studentwellbeing_image_part_002" src="assets/studentwellbeing/image_part_002.jpg" /></li>
            <li><img class="studentwellbeing_image_part_003" src="assets/studentwellbeing/image_part_003.jpg" /></li>
            <li><img class="studentwellbeing_image_part_004" src="assets/studentwellbeing/image_part_004.jpg" /></li>
            <li><img class="studentwellbeing_image_part_005" src="assets/studentwellbeing/image_part_005.jpg" /></li>
            <li><img class="studentwellbeing_image_part_006" src="assets/studentwellbeing/image_part_006.jpg" /></li>
            <li><img class="studentwellbeing_image_part_007" src="assets/studentwellbeing/image_part_007.jpg" /></li>
            <li><img class="studentwellbeing_image_part_008" src="assets/studentwellbeing/image_part_008.jpg" /></li>
            <li><img class="studentwellbeing_image_part_009" src="assets/studentwellbeing/image_part_009.jpg" /></li>
            <li><img class="studentwellbeing_image_part_010" src="assets/studentwellbeing/image_part_010.jpg" /></li>
            <li><img class="studentwellbeing_image_part_011" src="assets/studentwellbeing/image_part_011.jpg" /></li>
            <li><img class="studentwellbeing_image_part_012" src="assets/studentwellbeing/image_part_012.jpg" /></li>
        </div>
        <!-- END: AFTER SCENE IMAGES: AS LOGO -->
    </div>
    <h1>Logo Showing <br/>Animation</h1>
    <h1>Logo Showing <br/>Animation</h1>

</section>
<!-- END: THE LOGO ANIMATION SECTION -->
