<!-- use this component, directly where you want to use -->
<button class="button" routerLink="/" routerLinkActive="active">Sroll Logo</button>
<button class="button" routerLink="/scrolllogoanimation" routerLinkActive="active">Sroll Logo animation Component</button>
<button class="button" routerLink="/studentwellbeing" routerLinkActive="active">Scroll Studentwellbeing Logo</button>
<button class="button" routerLink="/staffwellbeing" routerLinkActive="active">Scroll Staffwellbeing Logo</button>
<router-outlet></router-outlet>